.segment .search > .input {
  width: 100% !important;
}

.label .header {
  color: white !important;
}

#map {
  min-height: 80vh;
}

.Slider-images {
  white-space: nowrap;
  overflow-x: scroll;
}

.Slider-image {
  display: inline-block !important;
  margin-right: 0.5rem;
}