body {
  background: black;
  overflow: hidden !important;
}

.segment .search > .input {
  width: 100% !important;
}

.label .header {
  color: white !important;
}

.Slider-images {
  white-space: nowrap;
  overflow-x: scroll;
}

.Slider-image {
  display: inline-block !important;
  margin-right: 1rem !important;
}

.fancy {
  text-transform: uppercase !important;
  letter-spacing: 0.33rem;
}

.Master-item .image {
  margin-top: 1rem;
}

.Master .segment {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.Layout {
  height: 100vh !important;
  margin: 0 !important;
  overflow: hidden !important;
}

.first-third {
  height: 6vh !important;
  margin: 0 !important;
  border-radius: 0 !important;
  z-index: 1 !important;
}

.second-third {
  height: 85vh !important;
  border-radius: 0 !important;
  margin: 0 !important;
  padding: 0 !important;
  border: none !important;
  overflow-x: hidden;
}

#map {
  min-height: 85vh !important;
}

.third-third {
  margin: 0 !important;
  z-index: 1 !important;
  text-align: center !important;
  border-radius: 0 !important;
  position: fixed !important;
  border-bottom: 9vh solid black !important;
  bottom: 0 !important;
}