html {
  min-width: 424px !important;
}

body {
  min-width: 424px !important;
}

.AgeGate {
  text-align: center !important;
}

.AgeGate .content {
  margin-top: 5vh !important;
  height: 30vh !important;  
}

.segment .search > .input {
  width: 100% !important;
}

.label .header {
  color: white !important;
}

.Slider-images {
  white-space: nowrap;
  overflow-x: scroll;
}

.Slider-image {
  display: inline-block !important;
  margin-right: 1rem !important;
}

.fancy {
  text-transform: uppercase !important;
  letter-spacing: 0.33rem;
}

.Master-item .image {
  margin-top: 1rem;
}

.Master .segment {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.Layout {
  height: 100vh !important;
  margin: 0 !important;
}

.first-third {
  height: 6vh !important;
  margin: 0 !important;
  border-radius: 0 !important;
  z-index: 1 !important;
  margin-bottom: 1.2rem !important;
}

.second-third {
  border-radius: 0 !important;
  margin: 0 !important;
  padding: 0 !important;
  padding-bottom: 20vh !important;
  border: none !important;
  overflow-x: hidden;
}

#map {
  min-height: 85vh !important;
}

.third-third {
  margin: 0 !important;
  z-index: 1 !important;
  text-align: center !important;
  border-radius: 0 !important;
  position: fixed !important;
  bottom: 0 !important;
}

.Home {
  min-height: 70vh !important;
}

.Home-link {
  display: flex !important;;
  align-items: center !important;
  justify-content: center !important;
  height: 30vh !important;
  -webkit-background-size: cover !important;
  -moz-background-size: cover !important;
  -o-background-size: cover !important;
  background-size: cover !important;
  margin-bottom: 1rem !important;
}

.Home-link .header {
  padding: 1rem !important;
  color: rgba(50, 50, 50) !important;
  background: rgba(255, 255, 255, 0.8);  
  border: none !important;
}

.headshops-link {  
  background-image: url('/headshops.png') !important;
}

.artists-link {
  background-image: url('/artist.png') !important;
}

.companies-link {
  background-image: url('/companies.png') !important;
}

.QuickForm .button {
  margin-bottom: 1.2rem !important;
}